{{!-- <section class="card">
  
    <header>{{title}}</header>

    <div class="card-body">
     <p>{{description}}</p> 
      <p>{{author}}</p>
      <p>{{price}}</p>
    </div>
 
</section> --}}

<div class="col-md-4">
  <div class="book-card bg-light">
    <img src="{{image_link}}" alt="{{this.title}}" />
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
    <p class="price">{{this.price}}</p>
    <a href="/book/{{this.id}}" class="btn btn-primary add-to-cart-btn">View info</a>
  </div>
</div>
