
<div class="col-md-4">
  <div class="book-card bg-light">
    <img src="{{image_link}}" alt="{{this.title}}" />
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
    <p class="price">{{this.price}}</p>
    <a href="/book/{{this.id}}" class="btn btn-primary add-to-cart-btn">View info</a>

    {{#if loggedIn}}
      <a href="/book/{{this.id}}/edit" class="btn btn-secondary edit-btn">Edit</a>
      <form action="/book/{{this.id}}?_method=DELETE" method="POST" class="delete-form">
        <button type="submit" class="btn btn-danger delete-btn">Delete</button>
      </form>
    {{/if}}
  </div>
</div>
