<section class="container">

  <h3 class="">BOOK</h3>
  <section class="flex-row justify-center">
    <div class="card-body">
      
      <p>{{book.title}}</p>
      <p>{{book.author}}</p>
      <p>{{book.publication_year}}</p>
      <p>{{book.quantity}}</p>
      <p>{{book.price}}</p>
      <p>{{book.description}}</p>
      
      <form action="/cart" method="POST">
      <input type="hidden" name="id" value={{book.id}}>
      <button type="submit">Add to Cart</button>
    </form>
    </div>

  </section>
</section>